@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  color: #ffffff;
  background-color: #0a4210;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

header {
  color: white;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem
}

hr {
  border-color: white;
  width: 100%;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header a:hover {
  color: #347d2d;
  font-size: 1.5em;
}

.whereuse a:hover {
  color: #347d2d;
  font-size: 2rem;
  font-family: "Abril Fatface", sans-serif;
}

ul a:hover {
  color: #d5e0d5;
  font-size: 2rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html::after{
  content: "© 2022-2023 Abdur-Rahman Bilal";

}

img {
  display: block;
  width: 10%;
}